@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300;500;700;800&family=Merriweather:wght@400;700;900&family=Roboto+Mono:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1efef;
  font-family: 'Martian Mono', monospace;
}

.header {
  background-color: #191717;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 20px;
}

.header__title {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 700;
}

.main {
  width: 100%;
  padding: 20px;
  height: 50vh;
}

.container-content {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.card-saldo {
  width: 20rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  gap: 2rem;
  overflow: hidden;
  border: 3px solid #191717;
  border-radius: 5px;
}

.name-title {
  font-size: 1.2rem;
  font-weight: normal;
  color: #191717;
}

.name-saldo {
  font-size: 2rem;
  font-weight: bold;
  color: #191717;
}

.btn-container {
  display: flex;
  gap: 3rem;
}

.button-saldo {
  display: inline-block;
  padding: 12px 30px;
  border: 1px solid #191717;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  font-size: 1.1rem;
}

.button-saldo:hover {
  background-color: #191717;
  color: #fff;
}
